:root{
    --primary: #FA7D07;
    --secondary: #F7F7F7;
    --accent-1: #7CB518;
    --accent-2: #FFD748;
}

img{
    width: 100%;
}

h1, h2{
    text-align: center;
}

/*HEADER*/

header{
    display: grid;
    grid-template-columns: 150px 200px 1fr;
    align-content: center;
}

header .logo{
    width: 150px;
}

header nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header nav ul{
    display: flex;
    gap: 15px;
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
}

/*HERO*/

.hero{
    position: relative;
}

.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.581);
}

.hero img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hero .text-hero{
    position: absolute;
    top: calc(50% - 50px);
    left: calc(25% - 250px);
    color: var(--secondary);
    text-align: center;
    width: 80%;
}

.hero .text-hero > div{
    width: 80%;
    float: left;
}

.hero .text-hero article{
    float: right;
    max-width: 200px;
    margin-top: -70px;
    margin-left: 40px;
}

.hero article div{
    background-color: var(--secondary);
}

.hero article div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero article div:last-of-type{
    padding: 20px;
}

.hero article div p,
.hero article div h3{
    margin: 0;
    color: black;
}

/*HISTORY*/

main .history > div {
    display: flex;
}

main .history > div div{
    width: calc(100% / 3);
}

/*ADVENTURE*/
main .adventure > div{
    display: flex;
}

/*COMPANY*/
#company{
    display: flex;
}
#company > div{
    width: 50%;
}

/*EMPLOYEES*/

#employees{
    padding: 100px 0;
}

#employees > div{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

.card-employed {
    width: 400px;
    display: flex;
    box-shadow: 0 0 20px rgb(190, 190, 190);
}

.card-employed div:last-child{
    border: 1px solid rgb(189, 189, 189);
}

.card-employed img{
    width: 200px;
    height: 100%;
}

/*CONTACT FORM*/
#form{
    padding: 100px 0;
}

#form > div{
    display: flex;
    justify-content: center;

}

#form form{
    width: 500px;
    padding: 50px;
    border: 1px solid rgb(189, 189, 189);
    box-shadow: 0 0 20px rgb(190, 190, 190);
}

#form form > div{
    display: flex;
    flex-direction: column;
}

#form form > div input,
#form form > div textarea{
    width: 100%;
    border: 1px solid rgb(189, 189, 189);
    padding: 5px 10px;
    margin-bottom: 10px;
}

#form form fieldset{
    margin: 20px 0;
}

#form form div:nth-child(6) label{
    display: flex;
    justify-content: flex-start;
}

#form form div:nth-child(6) label input{
    width: 30px;
}

#form form div button{
    padding: 10px 30px;
    width: 200px;
    background: linear-gradient(to left, rgb(54, 5, 232), rgb(62, 133, 255));
    border: none;
    color: white;
}

/*FOOTER*/
footer p{
    text-align: center;
}

footer .social{
    float: right;
    display: flex;
    align-items: center;
    gap: 10px;
}
footer .social a{
    text-decoration: none;
}

footer .social a img{
    width: 50px;
}