:root{
    --primary: #FA7D07;
    --secondary: #F7F7F7;
    --accent-1: #7CB518;
    --accent-2: #FFD748;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
      font-family: "Source Sans 3", sans-serif;
}

img{
    width: 100%;
}

h2{
    font-size: 60px;
}

h3{
    font-size: 40px;
}

h1, h2{
    text-align: center;
}

.call-to-action{
    padding: 15px 30px;
    border-radius: 5px;;
    background-image: linear-gradient(to right, orange, yellow);
    color: #333;
    text-decoration: none;
}


/*HEADER*/

header{
    display: grid;
    grid-template-columns: 100px 200px 1fr;
    align-content: center;
    padding: 0 50px;
}

header .logo{
    width: 100px;
}

header nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header nav ul{
    display: flex;
    gap: 15px;
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
}

/*INDEX*/
#hero-index{
    background-image: url(../images/hero-index.jpg);
    background-size: cover;
    background-position: center;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    
}

#hero-index::after{
        content: '';
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        position: absolute;
        z-index: -1;
        background-color: #000000a3;
    }

#hero-index div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero-index div h2{
    color: white;
    margin-bottom: 20px;
}

#hero-index div p{
    color: white;
    margin-bottom: 50px;
}

#about-us{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

#about-us > div{
    display: flex;
    gap: 30px;
    width: 70%;
}

#about-us div div{
    width: 50%;
}

/*TRIPS*/

#hero-trips{
    background-image: url(../images/trips.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

#hero-trips div h2,
#hero-trips div p{
    color: white;
}

#hero-trips::after{
        content: '';
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        position: absolute;
        z-index: -1;
        background-color: #000000a3;
    }

#trips{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

#trips > div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 70%;
    gap: 30px;
}

#trips div .card-trip div:first-child{
    display: flex;
}

#trips div .card-trip div img{
    object-fit: cover;
    height: auto;
}

#trips div .card-trip .trip-content{
    padding: 20px 30px 40px;
    border: 1px solid rgb(191, 191, 191);
}

#trips div .card-trip .trip-content h4{
    color: rgb(0, 0, 118);
}

#trips div .card-trip .trip-content p{
    font-weight: 800;
}

#trips div .card-trip .trip-content ul{
    margin-bottom: 35px;
    list-style-position: inside;
}

/*ABOUT US*/

.hero{
    position: relative;
}

.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.581);
}

.hero img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hero .text-hero{
    position: absolute;
    top: calc(50% - 50px);
    left: calc(25% - 250px);
    color: var(--secondary);
    text-align: center;
    width: 80%;
}

.hero .text-hero > div{
    width: 80%;
    float: left;
}

.hero .text-hero article{
    float: right;
    max-width: 200px;
    margin-top: -70px;
    margin-left: 40px;
}

.hero article div{
    background-color: var(--secondary);
}

.hero article div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero article div:last-of-type{
    padding: 20px;
}

.hero article div p,
.hero article div h3{
    margin: 0;
    color: black;
}

/*HISTORY*/

main .history > div {
    display: flex;
}

main .history > div div{
    width: calc(100% / 3);
}

/*ADVENTURE*/
main .adventure > div{
    display: flex;
}

/*COMPANY*/
#company{
    display: flex;
}
#company > div{
    width: 50%;
}

/*CONTACT US*/
iframe{
    width: 50%; 
    height: 450px;
}

/*EMPLOYEES*/

#employees{
    padding: 100px 0;
}

#employees > div{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

.card-employed {
    width: 400px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 20px rgb(190, 190, 190);
}

.card-employed div:last-child{
    border: 1px solid rgb(189, 189, 189);
    padding: 20px;
}

.card-employed div:last-child ul {
    list-style: none;
}

.card-employed img{
    width: 200px;
    height: 100%;
}

/*CONTACT FORM*/
#form{
    padding: 100px 0;
}

#form > div{
    display: flex;
    justify-content: center;

}

#form form{
    width: 500px;
    padding: 50px;
    border: 1px solid rgb(189, 189, 189);
    box-shadow: 0 0 20px rgb(190, 190, 190);
}

#form form > div{
    display: flex;
    flex-direction: column;
}

#form form > div input,
#form form > div textarea{
    width: 100%;
    border: 1px solid rgb(189, 189, 189);
    padding: 5px 10px;
    margin-bottom: 10px;
}

#form form fieldset{
    margin: 20px 0;
}

#form form div:nth-child(6) label{
    display: flex;
    justify-content: flex-start;
}

#form form div:nth-child(6) label input{
    width: 30px;
}

#form form div button{
    padding: 10px 30px;
    width: 200px;
    background: linear-gradient(to left, rgb(54, 5, 232), rgb(62, 133, 255));
    border: none;
    color: white;
}

/*FOOTER*/
footer p{
    text-align: center;
    padding: 30px 0;
    background-color: var(--accent-2);
}

footer .social{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
footer .social a{
    text-decoration: none;
}

footer .social a img{
    width: 50px;
}